.swiper {
  width: 100%;
  height: 46vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img {
  width: 100%;
  height: 380px;
  object-fit: contain;
}

#img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 10px;
}
